/* Font declarations */
.font-declaration(@fileName, @relativePath: "assets/fonts/") {
    font-style: normal;
    font-weight: normal;
    src: url("@{relativePath}@{fileName}.eot");
    src: url("@{relativePath}@{fileName}.woff") format("woff"),
        url("@{relativePath}@{fileName}.ttf") format("truetype"),
        url("@{relativePath}@{fileName}.svg") format("svg");
}

@roboto: "roboto";
@font-face {
    font-family: @roboto;
    .font-declaration("robotocondensed-regular-webfont");
}

@roboto-light: "roboto_light";
@font-face {
    font-family: @roboto-light;
    .font-declaration("robotocondensed-light-webfont");
}

@weather: "weather";
@font-face {
    font-family: @weather;
    .font-declaration("weathericons-regular-webfont")
}

/* Structure */
@import "./app/components/meteo.less";
@import "./app/components/city-input.less";
@import "./app/components/city-meteo.less";
@import "./app/components/city-header.less";
@import "./app/components/city-and-back-button.less";
@import "./app/components/units-switch.less";
@import "./app/components/date-info.less";
@import "./app/components/weather-name.less";
@import "./app/components/weather-details.less";
@import "./app/components/weather-day-forecast.less";
@import "./app/components/weather-day-forecast-segment.less";
@import "./app/components/weather-weekly-forecast.less";
@import "./app/components/weather-weekly-forecast-segment.less";
@import "./app/less/weather-icons-map.less";

/* colors */
@white: #ffffff;
@saumon: #dc9785;
@saumon-strong: #fe8769;
@saumon-dark:#ff836b;
@grey-light:#b8b8b8;
@grey: #5c656f;
@grey-strong: #4f636e;

/* main page */
.body {
    background-color: @saumon-strong;
    font-family: @roboto;
    font-size: 16px;
    margin: 0;
}